@page
@model Myproject.Pages.Assign_Task.taskModel
@{
}

<br />
<h2>Employee Task</h2>
<a class='btn btn-primary btn-sm' href='/Assign_Task/Create_task'>Assign Task</a>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Created at</th>
            <th>Task</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listEmployees)
        {
            <tr>
                <td>@item.empid</td>
                <td>@item.emp_name</td>
                <td>@item.emp_created_at</td>
                <td>@item.emp_task</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Assign_Task/Edit_task?empid=@item.empid">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Assign_Task/Delete_Task?empid=@item.empid">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>